<h2>Навигация по анализу</h2>

<a class="btn btn-sm btn-primary" asp-action="AnalyzeTerms">Ранжировать термины</a>
<a class="btn btn-sm btn-primary" asp-action="AnalysisList">Анализ документов</a>
<a class="btn btn-sm btn-primary" asp-action="TrainingSample">Обучающая выборка</a>

