<h2>Навигация по анализу</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<a class="btn btn-sm btn-primary" asp-action="AnalyzeTerms">Ранжировать термины</a>
<a class="btn btn-sm btn-primary" asp-action="AnalysisList">Анализ документов</a>
<a class="btn btn-sm btn-primary" asp-controller="Learning" asp-action="Index">Обучающая выборка</a>

