<h1>Админка</h1>

<a class="btn btn-sm btn-primary" asp-controller="Project" asp-action="Index">Управление проектами</a>
<a class="btn btn-sm btn-primary" asp-controller="User" asp-action="Index">Список рабов (пользователей)</a>
<a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Index">Управления ролями</a>
<a class="btn btn-sm btn-primary" asp-controller="Ontology" asp-action="Index">Онтология</a>
