@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Добро пожаловать!</h1>
        <p>Это дипломный проект. Чтобы получить доступ к полному функционалу, пожалуйста, войдите или зарегистрируйтесь</p>
    }
    else 
    {
        <h1 class="display-4">Добро пожаловать, @(User.Identity.Name)!</h1>
        <p>Поздравляем, Вы вошли в систему!</p>
    }
</div>
